* {
    margin: 0;
    padding: 0;
}

/* html {
    width: 100vw;
} */

#body {
    /* width: 100%; */
    font-family: 'Roboto', sans-serif;
    color: rgb(68, 68, 68);
}

h1 {
    font-family: 'Roboto Mono', sans-serif;
    color: rgb(17, 17, 17);
}

#site-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#navbar {
    /* display: none; */
    flex-direction: column;
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: rgb(241, 241, 241);
}

#nav-header {
    display: flex;
    justify-content: center;
    height: 10%;
    background-color: rgb(255, 255, 77);
}

#nav-logo {
    display: flex;
    align-items: center;
    color: rgb(32, 32, 32);
}

#nav-menu {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#nav-menu ul li {
    color: rgb(17, 17, 17);
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /* width: calc(100vw - 20%); */
    margin-left: calc(100% - 80%);
    background-color: rgb(255, 231, 93);
    /* padding: 20px; */
    /* background-color: red; */
}

#main-header {
    text-align: center;
    font-size: 2rem;
}

#topics-container {
    /* display: none; */
    width: 80%;
    padding: 20px;
    /* background-color: black; */
}

.topic-container {
    /* display: none; */
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    /* border: 1px solid rgb(238, 238, 238); */
    border-radius: 25px;
    box-shadow: 4px 4px 2px 1px rgba(46, 46, 46, 0.2);
    background-color: #FFF;
}

.topic-header {
    /* display: none; */
    text-align: center;
    border-radius: 25px 25px 0 0;
    background-color: rgb(251, 255, 0);
}

.topic-content-container {
    /* display: none; */
    text-align: center;
}

