* {
    margin: 0;
    padding: 0;
}

/* html {
    width: 100vw;
} */

#body {
    /* width: 100%; */
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    color: rgb(68, 68, 68);
    /* color: red; */
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: rgb(17, 17, 17);
    /* color: blue; */
}

#site-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#navbar {
    /* display: none; */
    flex-direction: column;
    position: fixed;
    width: 20%;
    height: 100%;
    /* font-family: 'Roboto', sans-serif; */
    background-color: rgb(255, 255, 255);
}

#nav-header {
    display: flex;
    justify-content: center;
    height: 10%;
    /* background-color: rgb(255, 255, 77); */
    background-color: #FFF;
}

#nav-header h1 {
    /* color: rgb(0, 255, 13); */
    /* font-family: 'Roboto Mono', sans-serif; */
}

#nav-logo {
    display: flex;
    align-items: center;
    color: rgb(32, 32, 32);
}

#nav-menu {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#nav-menu ul li {
    list-style: none;
    /* color: rgb(17, 17, 17); */
    /* color: green; */
    font-size: 1.5em;
    /* font-family: 'Roboto', sans-serif; */
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /* width: calc(100vw - 20%); */
    margin-left: calc(100% - 80%);
    /* background-color: rgb(255, 231, 93); */
    /* padding: 20px; */
    /* background-color: red; */
}

#main-header-div {
    width: 100%;
    /* background-color: rgb(29, 29, 29); */
}

#main-header {
    text-align: center;
    font-size: 2rem;
}

#topics-container {
    /* display: none; */
    width: 80%;
    padding: 20px;
    /* background-color: black; */
}

.topic-container {
    /* display: none; */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid rgb(243, 243, 243);
    border-radius: 15px;
    box-shadow: 4px 4px 2px 1px rgba(46, 46, 46, 0.2);
    background-color: #FFF;
}

.topic-header {
    /* display: none; */
    text-align: center;
    border-radius: 15px 15px 0 0;
    background-color: rgb(251, 255, 0);
    /* background-color: ; */
}

.topic-content-container {
    /* display: none; */
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    padding: 10px 20px;
    /* align-items: center; */
    height: 100%;
}

.text-container {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* background-color: red; */
}

.text-segment-container {
    margin: 0 0 10px 0;
}

.text-segment-container p {
    text-align: left;
    color: rgb(20, 20, 20);
}

.code-segment-container {

}

.example-container {

}

.example-container p {
    text-align: left;
}

.code-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 4px 4px 2px 1px rgba(46, 46, 46, 0.2);
    /* padding: 10px 10px 0 10px; */
    /* padding: 2px; */
    /* background-color: rgb(253, 255, 143); */
}

.code-container code {
    /* height: 100%; */
    background-color: rgb(255, 255, 255);
    /* color: rgb(138, 42, 167); */
    /* margin: 0 0 10px 0; */
}

.tab {
    padding-left: 2em;
}

.bold {
    font-style: bold;
}

